body {
  font-family: sans-serif;
  max-width: 900px;
  margin: auto;
  background-color: #d2fcf7;
}

h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 32pt;
  text-align: center;
}

p {
  font-family: "Tahoma", sans-serif;
  font-size: 12pt;
}


#legend {
  line-height: 0px;
  background: white;
  opacity: 0.8;
  padding: 5px 25px 5px 0px;
  box-shadow: -5px 10px #888888
}
